body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: monospace;
    font-weight: 100;
}

#app {
    width: 100%;
    height: 800px;
    background-color: coral;
}

#game {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: darkorange;
}



.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

